@model StudentAffairs.Models.Student

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentNid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentNid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JoinYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JoinYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StaffSon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StaffSon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentsSeparated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentsSeparated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SchoolAbrev)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SchoolAbrev)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentUpdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentUpdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentArabicFName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentArabicFName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentArabicMName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentArabicMName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentArabicLName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentArabicLName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentArabicFmName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentArabicFmName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentEnglishFName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentEnglishFName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentEnglishMName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentEnglishMName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentEnglishLName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentEnglishLName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentEnglishFmName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentEnglishFmName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dob)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dob)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthPlace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthPlace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentAffairs1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentAffairs1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentAffairs2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentAffairs2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmergencyContact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmergencyContact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmergencyPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmergencyPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CityNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CityNavigation.CityId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuardianNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuardianNavigation.GuardianId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReligonNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReligonNavigation.ReligionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentBranchNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentBranchNavigation.BranchId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentClassNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentClassNavigation.ClassId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentGovNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentGovNavigation.GovId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentGradeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentGradeNavigation.GradeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentNatNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentNatNavigation.NatId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentStatusNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentStatusNavigation.StatusId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="StudentId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
