@model IEnumerable<StudentAffairs.Models.Student>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>


    <a class="btn btn-success" asp-action="Create">Create New</a>

<table class="table">
    <thead>
        <tr>
            <th>
                Student National Number
            </th>
            <th>
                Status
            </th>
            <th>
                parents separated?
            </th>
            
            <th>
                الأسم
            </th>
            <th>
                أسم الأب
            </th>
            <th>
                أسم الجد
            </th>
            <th>
                أسم العائلة
            </th>
           
            <th>
                Date of birth
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                Address
            </th>
            
           
            <th>
                Emergency Contact
            </th>
            <th>
                Emergency Phone
            </th>
            
            
            
            <th>
                Join Year
            </th>
            <th>
                Religion
            </th>
            <th>
                Branch
            </th>
           
            <th>
                Grade
            </th>
            <th>
                Mother
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentNid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentStatusNavigation.StatusName)
            </td>
            <td>
                @( (item.Gender > 0) ? "yes" : "no")
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.StudentArabicFName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentArabicMName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentArabicLName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentArabicFmName)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Dob)
            </td>
            
            <td>
                @( (item.Gender > 0) ? "Female" : "Male")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentAddress)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.EmergencyContact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmergencyPhone)
            </td>
           
           
            <td>
                @Html.DisplayFor(modelItem => item.JoinYearNavigation.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReligonNavigation.ReligionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentBranchNavigation.BranchName)
            </td>
            
            
            <td>
                @Html.DisplayFor(modelItem => item.StudentGradeNavigation.GradeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentMotherNavigation.ParentArabicName)
            </td>
           
            <td>
                <a asp-action="Edit" asp-route-id="@item.StudentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StudentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StudentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
