@model IEnumerable<StudentAffairs.Models.Student>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<div class="col-md-2"><a asp-action="Create" class="btn btn-success">Add Student</a></div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentNid)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.StudentUpdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentArabicFName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentArabicMName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentArabicLName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentArabicFmName)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.StudentAffairs1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentAffairs2)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.EmergencyContact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmergencyPhone)
            </th>
            
            <th>
                Guardian
            </th>
            <th>
                Religion
            </th>
            <th>
                Branch
            </th>
            <th>
                Class
            </th>
            
            <th>
                Grade
            </th>
          
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentNid)
            </td>
            
           
            <td>
                @Html.DisplayFor(modelItem => item.StudentUpdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentArabicFName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentArabicMName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentArabicLName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentArabicFmName)
            </td>
            
            
            <td>
                @( (item.Gender > 0) ? "Female" : "Male")
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.StudentAffairs1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentAffairs2)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.EmergencyContact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmergencyPhone)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.GuardianNavigation.GuardianName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReligonNavigation.ReligionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentBranchNavigation.BranchName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentClassNavigation.ClassName)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.StudentGradeNavigation.GradeName)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.StudentStatusNavigation.StatusName)
            </td>
            <td>
                <a asp-action="Edit"  asp-route-id="@item.StudentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StudentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StudentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
