@model StudentAffairs.Models.Parent

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Parent</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentEnglishName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentEnglishName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentArabicName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentArabicName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentNid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentNid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentMobilephone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentMobilephone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentJob)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentJob)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentQualification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentQualification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentLanguageNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentLanguageNavigation.LanguageId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentNationalityNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentNationalityNavigation.NatId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ParentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
